@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color-1: hsl(176, 50%, 47%);
    --primary-color-2: hsl(176, 72%, 28%);
    --neutral-color-1: hsl(0, 0%, 0%);
    --neutral-color-2: hsl(0, 0%, 48%);
    --neutral-color-3: rgb(238, 237, 237);
    --neutral-color-4:  rgb(219, 216, 216);
    --weight-1: 400;
    --weight-2: 500;
    --weight-3: 700;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-size: 16px;
    line-height: 1.6;
    background-color: rgb(230, 230, 230);
    font-family: 'Commissioner',sans-serif;
}

/* head part */
.container{
    color: white;
    background-image: url("../images/image-hero-desktop.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;    
    height: 40vh;    
}

header{
    margin: 0px 20px ;
}

header > nav > ul{
    display: flex;

}

.logo{
    margin: 0px 5%;
    padding: 2.5% 0px;
    font-weight: var(--weight-3);
    font-size: 1.5em;
    user-select: none;
    -moz-user-select: none; /* for mozilla */
    -ms-user-select: none; /* for internet explorer*/
    -webkit-user-select: none; /* for safari */
    -o-user-select: none;
}

header > nav > ul > li {
    position: relative;
    list-style: none;
    margin: 0px 20px;
    left: 70%;  
    bottom: 70px;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: white;
}
.container_2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_box{
    height: 250vh;
    width: 100vh;
    /* background-color: white; */
    margin-top: -5%;
    margin-left: 26%;
    margin-bottom: 10%;
    border-radius: 10px;   
}

/* content part I */
.section_outer{
    background-color: white;
    width: inherit;
    border-radius: 10px;
}
.es-section-1{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 0px;
    line-height: 2;    
}

.es-section-1 > p{
    color: var(--neutral-color-2);
    font-weight: var(--weight-1);
}

.mastercraft-logo{
    position: relative;
    z-index: 5;
    
    top: -30px;
}

/*button part of section part I*/

.bottom_part{
    width: 88%;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;  
    margin-bottom: 30px; 
}

.bookmark-logo{
    position: absolute;
    /* height: 35px;
    width: 35px; */
    margin-right:10px ;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: -8px;
    z-index: 10;
    
    /* visibility: hidden; */
}
.bookmark-logo > g > circle:hover{
    fill: var(--neutral-color-2);
}
.button-style{
    border-radius: 50px;
    padding: 0px 10px;

}
.complete_button{
    /* background-color: black; */
    width: 30%;
}

.back-this-project{
    margin: 10px;
    padding: 10px 20px;
    font-weight: var(--weight-3);
    background-color: var(--primary-color-2);
    color: white;
    border: none;
}

.back-this-project:hover{
    cursor: pointer;
    background-color: var(--primary-color-1);
}

.bookmark{
    background-color:  rgb(218, 216, 216);
    padding:10px 40px;
    border: none;
    margin: 10px;
    color: var(--primary-color-2);
    font-weight: var(--weight-3);    
}

.bookmark,.svg_circle:hover{
    background-color: rgb(238, 237, 237);
    fill: var(--neutral-color-2);
    cursor: pointer;
}

/* section part II*/
.es-section-2{
    margin-top: 20px;
    padding: 20px 0px;
    width: 85%;
    margin-left: 50px;
}

.report_list{
    /* background-color: blue; */
    margin: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.report_list > li {
    border-right: 1px solid var(--neutral-color-2);
    padding-right: 50px;
}

.report_list > li > h4{
    font-weight: var(--weight-1);
    color: var(--neutral-color-2);
}

.progress_bar{
    margin-left: 20px ;
    width: 550px;
    height: 15px;
    background-color: var(--neutral-color-3);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.inner-bar{
    width: 87%;
    height: inherit;
    background-color: var(--primary-color-1);
    border-radius: inherit;
}

/*section part III*/

.essection-3{
    margin: 20px 20px;
    padding: 40px;
}

.about_site{
    margin-top: 30px;
}

.info-box{
    margin-top: 30px;
    border: 2px solid var(--neutral-color-4);
    border-radius: 10px;
    padding: 20px;
}

.title_tab{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;   
}

.title-2{
    font-weight: var(--weight-2);
    color: var(--primary-color-1);
}

#info-tab{
    color: var(--neutral-color-2);
    margin-top: 20px;
}

.text_part{
    display: flex;    
}

.text_part > h5{
    margin-left: 5px;
    margin-top: 10px;
    color: var(--neutral-color-4);
}
.bottom_tab{
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.select-button{
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: var(--weight-3);
    color: white;
    background-color: var(--primary-color-1);
    border: none;
}

.select-button:hover{
    background-color: var(--primary-color-2);
    cursor: pointer;
}


/* should be handled with javascript */
.when-zero{
    user-select: none;
    opacity: 0.5;
    
}

.when-zero > .bottom_tab > .select-button:disabled{
    background-color: var(--neutral-color-2);
    cursor:not-allowed;

}


/* for "Back this project"  button*/

.pledge_button{
    height: 50vh;
    width: 100vh;
    background-color: white;
    margin-top: -5%;
    margin-left: 26%;
    margin-bottom: 10%;
    border-radius: 10px;   
}

.no_reward{
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   -o-appearance: none;
    background-color: #fafafa;
    border: 5px solid #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    /* border-width: 5px; */
}

.no_reward:active, .no_reward:checked:active{
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); /* why inset?*/
}

.no_reward:checked{
    
    background-color: var(--primary-color-1);
    border: 1px solid #fff;
    border-width: 5px;
}